@page "/Travel"
@using dol_sdk.Services
@inject ISecurityService Security

<h3>Travel</h3>
@if (Security.Identity is not null && !Security.Identity.IsExpired())
{
}
else
{
    <div class="col">
        <h4>Log in <a href="/Login?returnUrl=">here</a></h4>
    </div>
}

@code
{
}