@page "/Travel"
@using dol_sdk.Services
@inject ISecurityService Security

<h3>Travel</h3>
@if (Security.LoggedIn)
{
}
else
{
    <div class="col">
        <h4>Log in <a href="/Login?returnUrl=Travel">here</a></h4>
    </div>
}

@code
{
}